body {
    background-color: dodgerblue;
}

/* headers */
h1 {
    color: #1a2421;
    background-color: rgba(255, 0, 255, 0.8);
    border: 2px solid black;
    width: 100%;
    text-align: center;
    font-size: 35px;
    position: sticky;
    top: 0px;
}

/* paragraphs */
p {
    color: #000;
}

.bodyp {
    position: relative; 
    display: inline-block; 
    border: 2px solid #fff;
    font-size: 18px;
}

/* links */
a {
    color: #e5e4e2;
    font-size: 25px;
    transition: color 1s;
}

a:hover {
   /* color: #ffe302; */
   color: yellow;
}

/* footer */
.footer {
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: blue;
    border: 2px solid black;
    text-align: center;
    transition: height 0.5s;
}

.footer:hover {
    height: 20%;
}

#more {
    position: relative;
    margin: 0;
    color: #e5e4e2;
    top: 0;
}

.footer a {
    display: inline-block;
    margin-top: 25px;
}

/* Image container */
.imgcont {
    width: 100%; 
    height: 300px; 
    background-color:#fff; 
    align-items: center; 
    justify-content: center;
}

img {
    width: 48%; 
    height: 286px; 
    margin: 5px 12px; 
    border: 2px solid black;
}
